page-movie-details {



	#im{
		height: 40%;
	}


	 .toolbar-background{
  background-color: #D500F9;
}

#bg{
	background-color: #000000;
}
.no-scroll .scroll-content{
     overflow: hidden;
     background-color: #000000;
}

}
