page-kollywood {

	 .toolbar-background{
  background-color: #D500F9;
}
.no-scroll .scroll-content{
     overflow: hidden;
     background-color: #000000;
}

	#bg{
		background-color: #FFFFFF;
}
#btn{
	width: 100%;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

#li{
	 background-color: #000000;
	 color: #ffffff;
	 font-family: Arnoldboecklin;
}


#im{
	height: 80px;
	width: 100%;

}

}
