page-welcome {

	.icon {
  font-size: 30px;
   color: #800000;
}

/*.login-background {
  background-image: url("../assets/imgs/images(5).jpeg") no-repeat fixed center;
  background-size: cover;
}*/

	.icon {
  font-size: 30px;
   color: #ffffff;
}

#im{
	height: 100px;
	width: 100%;
}


#btn1{
	padding-top: 0;
	margin-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}





}
